<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=decvice-width"/>
        <title>SportStore</title>

       

        @{
            if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production"){
            <link rel="stylesheet" href="src/css/index.css" />
            }
            else{
            <link rel="stylesheet" href="~/dist/index.css" />
            }
        }



       <style>
           .placeholder{visibility: collapse; display: none}
           .placeholder:only-child {visibility: visible; display: flex}
       </style>


        @await RenderSectionAsync("Scripts", required: false)
        @await RenderSectionAsync("ValidationScript", required: false)




    </head>

    <body>
        <div class="container-fluid">

            <div class="row p-2">

                <div class="col-2">

               
                    <a asp-controller="Home" asp-action="Index" class="@GetClassForButton("Home")">
                        Products
                    </a>
             

           
                    <a asp-controller="Category" asp-action="Index" class="@GetClassForButton("Category")">
                        Category
                    </a>
              

              
                    <a asp-controller="Order" asp-action="Index" class="@GetClassForButton("Order")">
                        Order
                    </a>
          
                
             </div>

                <div class="col">
                    @RenderBody()
                </div>


            </div>

        </div>

    </body>

</html>

@functions{
    string GetClassForButton(string controller){
        return "btn btn-block " + (ViewContext.RouteData.Values["controller"] as string == controller ? "btn-primary" : "btn-outline-primary");
    }
}


